<!doctype html>
<html>

<head>
  <title>Spotify</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style type="text/css">
    #login,
    #loggedin {
      display: none;
      background: linear-gradient(#F037A5 -60%, #FAE62D 140%);
      -webkit-box-flex: 1;
      flex: 1;
    }

    div {
      display: block;
    }

    footer {
      background-color: black;
    }

    h4 {
      font-size: 18px;
      font-weight: 400;
      color: white;
      margin-top: 0.5em;
      margin-bottom: 1em;
      font-family: Circular, Helvetica, Arial, sans-serif;
      line-height: 1.1;
    }

    h1 {
      font-size: 80px;
      font-weight: 900;
      letter-spacing: -0.04em;
      line-height: 1.15;
      margin-top: 0;
      margin-right: 0px;
      margin-bottom: 0.25em;
      font-family: Circular, Helvetica, Arial, sans-serif;
      color: white;
    }

    .btn-success {
      background-color: #1db954
    }

    .nav-link {
      color: white
    }

    .nav-link:hover {
      color: #1db954
    }

    .text-overflow {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 500px;
    }

    .navbar {
      opacity: 0.8;
    }

    .row {
      text-align: center;
      margin: 0 auto;
      z-index: 1;
    }

    .btn {
      margin-top: 16px;
      background-color: #1DB954;
      font-size: 14px;
      font-family: Circular, Helvetica, Arial, sans-serif;
      line-height: 1;
      border-radius: 500px;
      padding: 16px 48px 18px 48px;
      border-width: 0;
      letter-spacing: 2px;
      min-width: 160px;
      white-space: normal;
      display: inline-block;
      font-weight: 700;
      text-align: center;
      vertical-align: middle;
    }


    .container {
      position: relative;
      padding-top: 250px;
      padding-bottom: 250px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
      margin-right: auto;
      margin-left: auto;
      padding-left: 15px;
      padding-right: 15px;
    }

    .jumbotron {
      background: url("https://www.scdn.co/i/home/hero-burst.svg") no-repeat;
      background-size: cover;
      background-position: 0 -410px;
      width: 1610px;
      height: 100vh;
      transform: translate(-50%, 0%);
      position: relative;
      left: 50%;
      margin: 0;
    }
  </style>
</head>



<body>
  <header>
    <nav class="navbar fixed-top navbar-dark bg-dark">
      <a class="navbar-brand" href="/">
        <img src="https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/Spotify_Logo_CMYK_White.png" width="100"
          height="30" class="d-inline-block align-top" alt="">
      </a>
      <a href="/login" class="nav-link">Accedi</a>
    </nav>
  </header>
  <div id="login">
    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col">
            <h1>La musica è per tutti.</h1>
            <h4>Milioni di brani. Senza alcuna carta di credito.</h4>
            <a href="https://www.spotify.com/it/download/" role="button" class="btn btn-success">SCARICA SPOTIFY
              FREE</a>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="container">
        <nav class="row">
          <div class="col-xs-12 col-md-2">
          </div>
        </nav>
      </div>
    </footer>
  </div>
  <div id="loggedin">
    <div id="user-profile">
    </div>
    <div id="oauth">
    </div>
    <button class="btn btn-default" id="obtain-new-token">Obtain new token using the refresh token</button>
  </div>
  </div>

  <script id="user-profile-template" type="text/x-handlebars-template">
      <h1>Logged in as {{display_name}}</h1>
      <div class="media">
        <div class="pull-left">
          <img class="media-object" width="150" src="{{images.0.url}}" />
        </div>
        <div class="media-body">
          <dl class="dl-horizontal">
            <dt>Display name</dt><dd class="clearfix">{{display_name}}</dd>
            <dt>Id</dt><dd>{{id}}</dd>
            <dt>Email</dt><dd>{{email}}</dd>
            <dt>Spotify URI</dt><dd><a href="{{external_urls.spotify}}">{{external_urls.spotify}}</a></dd>
            <dt>Link</dt><dd><a href="{{href}}">{{href}}</a></dd>
            <dt>Profile Image</dt><dd class="clearfix"><a href="{{images.0.url}}">{{images.0.url}}</a></dd>
            <dt>Country</dt><dd>{{country}}</dd>
          </dl>
        </div>
      </div>
    </script>

  <script id="oauth-template" type="text/x-handlebars-template">
      <h2>oAuth info</h2>
      <dl class="dl-horizontal">
        <dt>Access token</dt><dd class="text-overflow">{{access_token}}</dd>
        <dt>Refresh token</dt><dd class="text-overflow">{{refresh_token}}</dd>
      </dl>
    </script>

  <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.1/handlebars.min.js"></script>
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script>
    (function () {

      /**
       * Obtains parameters from the hash of the URL
       * @return Object
       */
      function getHashParams() {
        var hashParams = {};
        var e, r = /([^&;=]+)=?([^&;]*)/g,
          q = window.location.hash.substring(1);
        while (e = r.exec(q)) {
          hashParams[e[1]] = decodeURIComponent(e[2]);
        }
        return hashParams;
      }

      var userProfileSource = document.getElementById('user-profile-template').innerHTML,
        userProfileTemplate = Handlebars.compile(userProfileSource),
        userProfilePlaceholder = document.getElementById('user-profile');

      var oauthSource = document.getElementById('oauth-template').innerHTML,
        oauthTemplate = Handlebars.compile(oauthSource),
        oauthPlaceholder = document.getElementById('oauth');

      var params = getHashParams();

      var access_token = params.access_token,
        refresh_token = params.refresh_token,
        error = params.error;

      if (error) {
        alert('There was an error during the authentication');
      } else {
        if (access_token) {
          // render oauth info
          oauthPlaceholder.innerHTML = oauthTemplate({
            access_token: access_token,
            refresh_token: refresh_token
          });

          $.ajax({
            url: 'https://api.spotify.com/v1/me',
            headers: {
              'Authorization': 'Bearer ' + access_token
            },
            success: function (response) {
              window.location.href = "http://localhost:3000/"
              userProfilePlaceholder.innerHTML = userProfileTemplate(response);

              $('#login').hide();
              $('#loggedin').hide();
            }
          });
        } else {
          // render initial screen
          $('#login').show();

        }

        document.getElementById('obtain-new-token').addEventListener('click', function () {
          $.ajax({
            url: '/refresh_token',
            data: {
              'refresh_token': refresh_token
            }
          }).done(function (data) {
            access_token = data.access_token;
            oauthPlaceholder.innerHTML = oauthTemplate({
              access_token: access_token,
              refresh_token: refresh_token
            });
          });
        }, false);
      }
    })();
  </script>
</body>

</html>